// Default variables
html {
  --base-font-size: 18px;
}

// Light default theme
body {
  --app-bg-color: #f9f0ff80;
  --header-bg-color: #fff;
  --nav-bg-color: #ffffffc0;
  --bg-color: #f0f9ff80;
  --bg-content-color: white;
  --bg-code: #fffbf3;
  --body-color: #444;
  --title-color: #18191c;
  --link-color: #230A4A;
  --cta-color: #ffffff;
  --cta-bg-color: #8a27b5;
  --cta-icon-socmed-bg-color:linear-gradient(180deg, rgba(101, 86, 110, 1) 0%, rgba(76, 57, 88, 1) 100%);
  --border-color: rgba(0, 0, 0, 0.1);
  --space: 0.5rem;
  --content-width: 860px;
  --header-height: 80px;
  --radius: 5px;
  --job-title-color:  linear-gradient(45deg,#f83a3a 10%,#f13dd4 50%,#7000ff 90%);
  --border-service-item:1px solid rgba(0, 0, 0, 0.4);;
  --service-desc-color:rgb(0 0 0 / 92%);
  --background-img-url: none;
  --slider-bullet-color: #656565;
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
  html {
    --base-font-size: 17px;
  }

  body {
    --space: 1.5rem;
    --header-height: 60px;
  }
}

// Override variables for light theme
body[data-theme="dark"] {
  --app-bg-color: radial-gradient(circle at 45% 35vh,#712b3dab, rgba(255, 255, 255, 0) 25%) ,radial-gradient(circle at 60% 45vh,#301256b5, rgba(255, 255, 255, 0) 25%);
  --testimonial-bg-color: radial-gradient(circle at 30% 30vh,#22024e4d, rgba(255, 255, 255, 0) 25%) ,radial-gradient(circle at 70% 30vh,#551f2d4b, rgba(255, 255, 255, 0) 25%);
  --header-bg-color: #18191c;
  --nav-bg-color: rgba(25, 25, 25, 0.533);
  --bg-color: #05010d;
  --bg-content-color: linear-gradient(0deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,.1));
  --bg-code: rgba(0, 0, 0, 0.3);
  --border-color: rgba(255, 255, 255, 0.1);
  --body-color: rgba(255, 255, 255, 0.836);
  --title-color: #fff;
  --link-color: #fff;
  --cta-color: #0d0d0d;
  --cta-bg-color: hsla(0, 0%, 100%, .9);
  --cta-icon-socmed-bg-color: radial-gradient(100% 100% at 50% 0,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,0) 100%),hsla(0,0%,100%,.1);
  --job-title-color: #fff;
   --border-service-item:none;
   --service-desc-color:hsla(0, 0%, 100%, .6);
   --background-img-url: url("https://i.ibb.co/ZxKzvLw/splash-bg-img.jpg");
   --slider-bullet-color: #ebebeb;
}
